h1 {
    font-family: Arial;
    text-align: center;
}
p {
    font-family: Arial;
    text-align: center;
}
a{
    text-align: center;
    color: black;
}
h2 {
    font-family: Arial;
    text-align: center;
    color: red;
}