/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2e2e2e;
}
.card {
    width: 90%;
    max-width: 400px;
    max-height: 560px;
    background: linear-gradient(90deg, #d9d9d9, #c0c0c0, #a6a6a6);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
img {
    width: 82%;
    height: auto;
    border-radius: 5px;
}
.title {
    font-size: 24px;
    font-weight: bold;
}
.stars {
    text-align: center;
    font-size: 30px;
    color: gold;
    margin-right: 12px;
    line-height: 1.5;
    margin-left: 0px;
}
.description {
    background: #f8f3e8;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
    height: 80px;
}
.stats {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    text-align: right;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    margin-bottom: -10px;
}

.image-container {
    display: flex;
    align-items: center;
    margin-top: -15px;
}

#name {
    text-align: left;
}

#reference {
    text-align: right;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #f8f3e8;
    font-size: 22px;
}

.text {
    text-align: right;
    font-size: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.atributes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
    margin-top: -30px;
    margin-bottom: -35px;
}

.footer-container {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a los extremos */
    align-items: center;
    margin-top: -20px;
}

.toughness {
    text-align: left;
    font-weight: bold;
}

.footer-texts {
    text-align: right;
    display: flex;
    flex-direction: column; /* Asegura que los textos estén en vertical */
}

@media (max-width: 768px) {
    .card {
        padding: 15px;
    }

    .header .title {
        font-size: 1.3rem;
    }

    .atributes .type {
        font-size: 1rem;
    }

    .description {
        font-size: 0.9rem;
    }

    .footer-container .text {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 10px;
    }

    .header .title {
        font-size: 1.2rem;
    }

    .atributes .type {
        font-size: 0.9rem;
    }

    .description {
        font-size: 0.8rem;
    }

    .footer-container .text {
        font-size: 0.7rem;
    }
}
